<!-- <router-outlet></router-outlet> -->
<!-- <app-todos></app-todos>
<app-user></app-user>  -->


<!-- <h3>ng-template</h3>
<div *ngIf="article; else loading">{{ article.title }}</div>

<ng-template #loading>
    <div>Loading</div>
</ng-template>

<h3>ng-container</h3>

<ng-container *ngIf="numbers">
    <ng-container *ngFor="let number of numbers">
        {{ number }}
    </ng-container>
</ng-container>

<h3>ng-content</h3>

<app-child1>
    <div>Hello World</div>
</app-child1>

<h3>ng-content</h3> -->

<!-- <button (click)="fadeInOut()">Fade in / out</button>
<div [@fadeInOut]="isShown ? 'open' : 'close'">This is a block with fade in / out</div> -->

<!-- What is as keyword -->
<div *ngFor="let currentUser of currentUsers">
    {{currentUser.name}}
    {{currentUser.surName}}
    {{currentUser.age}}
</div>

<!-- Using combined lastest -->
<div *ngIf="data$ | async as data">
    {{data.fun}} {{data.boring}}
</div>

<!-- create a directive which changes the backgorud of the element -->
<div appBackgroundChange>Hello Angular</div>

<!-- What are pipes? What build in pipes do you know? Create a simple pipe -->
<!-- Change to Upper Cases -->
<div>{{ hello | uppercase}}</div>
<!-- Dates -->
<div>{{ currentDate | date | uppercase }}</div>

<div> {{ person | fullName }}</div>

<!-- What is Angular Ivy? -->

<router-outlet></router-outlet>
<app-user></app-user>

<!-- What is ngZone? -->
<div (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" #element>Element</div>

{{position | json}}

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">User Name: </label>
        <input type="text" formControlName="username"/>
        <span *ngIf="registerForm.get('username')?.hasError('required') 
        && (registerForm.get('username')?.dirty 
        || registerForm.get('username')?.touched)">This field is required</span>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" formControlName="password"/>
        <span *ngIf="registerForm.get('password')?.hasError('required') 
        && (registerForm.get('password')?.dirty 
        || registerForm.get('password')?.touched)">This field is required</span>
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="text" formControlName="email"/>
        <span *ngIf="registerForm.get('email')?.hasError('required')
        && (registerForm.get('email')?.dirty 
        || registerForm.get('email')?.touched || isSubmitted)">This field is required</span>
    </div>
    <div>
        <button type="submit">
            Register
        </button>
    </div>
</form>
<app-child1 [currentPage]="currentPage"></app-child1>
<router-outlet></router-outlet>

